<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>库存列表</title>

    <link rel="shortcut icon" href="img/favicon.ico">
    <link href="../css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="../css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="../css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="../css/animate.min.css" rel="stylesheet">
    <link href="../css/base.css" rel="stylesheet">
    <link href="../css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="../css/style.min.css?v=4.0.0" rel="stylesheet">
    <base target="_blank">

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>库存列表 </h5>
            </div>
            <div class="ibox-content" style="padding-bottom: 40px;">
                <form id="warehoustForm" action="/goods/table" method="get" class="form-horizontal">
                    <div class="form-group">
                        <div class="form-div">
                            <label class="control-label">商品名称</label>
                            <div class="label-right">
                                <input name="goodsName" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-div">
                            <label class="control-label">变动日期：</label>
                            <div class="label-right">
                                <input placeholder="变动日期" class="form-control layer-date" name="updateTime" id="updateTime">
                            </div>
                        </div>
                        <div class="form-div" style="    margin-left: 101px;">
                            <button class="btn btn-primary" type="button" style="margin-right: 30px;" onclick="warehouseSubmit(1)">查询</button>
                            <button class="btn btn-white" type="reset" style="margin-right: 30px">重置</button>
                            <button class="btn btn-info" id="add" type="button"  data-toggle="modal" data-target="#goodsModal">添加</button>
                        </div>
                    </div>
                </form>
            <div class="modal inmodal fade" id="goodsModal" tabindex="-1" role="dialog"  aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">添加商品</h4>
                        </div>
                        <div class="modal-body">
                            <form id="addGoodsForm" method="post" action="add" class="form-horizontal">
                                <div class="form-group">
                                    <div>
                                        <label class="control-label">商品名称：</label>
                                        <input name="goodsName" type="text" class="form-control" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div>
                                        <label class="control-label">规格型号：</label>
                                        <input name="model" type="text" class="form-control" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div>
                                        <label class="control-label">单位：</label>
                                        <input name="unit" type="text" class="form-control" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div>
                                        <label class="control-label">单价（元）：</label>
                                        <input name="price" type="number" class="form-control">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary" onclick="addGoods()">保存</button>
                        </div>
                    </div>
                </div>
            </div>
                <div class="hr-line-dashed"></div>
                <div id="warehouse_table"></div>
            </div>
        </div>
    </div>
</div>

<script src="../plugins/laydate/laydate.js"></script>
<script src="../js/jquery.min.js?v=2.1.4"></script>
<script src="../js/jquery.serializejson.min.js"></script>
<script src="../js/bootstrap.min.js?v=3.3.5"></script>
<script src="../js/content.min.js?v=1.0.0"></script>
<script src="../js/plugins/iCheck/icheck.min.js"></script>
<script src="../js/bootstrap-paginator.js"></script>
<script src="../js/plugins/validate/jquery.validate.min.js"></script>
<script src="../js/plugins/validate/messages_zh.min.js"></script>
<script src="../js/validate.js"></script>
<script src="../js/plugins/sweetalert/sweetalert.min.js"></script>
<script>
    laydate.render({
        elem: '#updateTime' //指定元素
    });
    $(document).ready(function () {
        $(".i-checks").iCheck({checkboxClass: "icheckbox_square-green", radioClass: "iradio_square-green",});
        $("#warehouse_table").load("table");
    });
    function warehouseSubmit(pageIndex) {
        var param = $("#warehoustForm").serialize();
        var action = $("#warehoustForm").attr("action");
        var url = action+"?pageIndex="+pageIndex;
        if(param != null && param != ""){
            url +="&"+param;
        }
        $("#warehouse_table").load(url);
    }
    function addGoods() {
        $("#addGoodsForm").valid();
        var param = $("#addGoodsForm").serializeJSON();
        param.price = param.price * 100;
        var action = $("#addGoodsForm").attr("action");
        $.ajax({
            url: action,
            type: "POST",
            data: JSON.stringify(param),
            contentType: "application/json; charset=utf-8",
            success: function (message) {
                if (message.code == "0000"){
                    warehouseSubmit(1);
                }else{
                    alert(message.msg);
                }
            }
        });
    }
</script>
<script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>
</body>

</html>