<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>仓库管理平台 - 登录</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/style.min.css" rel="stylesheet">
    <link href="css/login.min.css" rel="stylesheet">
    <!--[if lt IE 8]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <script>
        if(window.top!==window.self){window.top.location=window.location};
    </script>

</head>

<body class="signin">
    <div class="signinpanel">
        <div class="row">
            <div class="col-sm-7">
                <div class="signin-info">
                    <div class="logopanel m-b">
                        <h1>[ 运城禹都 ]</h1>
                    </div>
                    <div class="m-b"></div>
                    <h4>欢迎使用 <strong>仓库管理平台</strong></h4>
                    <ul class="m-b">
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势一 ： 智能管理仓库库存</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势二 ： 随时查看仓库流水</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势三 ： 使仓库资产更加清晰</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势四 ： 实时记录货品价格</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势五 ： 智能分析热门货品走势</li>
                    </ul>
                    <!--<strong>还没有账号？ <a href="#">立即注册&raquo;</a></strong>-->
                </div>
            </div>
            <div class="col-sm-5">
                <form method="post" action="login">
                    <h4 class="no-margins">登录：</h4>
                    <p class="m-t-md">登录到仓库管理平台</p>
                    <input type="text" class="form-control uname" name="account" placeholder="用户名" />
                    <input type="password" class="form-control pword m-b" name="password" placeholder="密码" />
                    <a href="">忘记密码了？</a>
                    <input type="submit" class="btn btn-success btn-block">登录</input>
                </form>
            </div>
        </div>
        <div class="signup-footer">
            <div class="pull-left">
                &copy; 2018 唐江华
            </div>
        </div>
    </div>
</body>
</html>